*,
.text-thin {
	font-family: "Lato", serif;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	color: #a9a9a9;
}

.text-light {
	font-family: "Lato", serif;
	font-weight: 300;
	font-style: normal;
}

h2,
h4,
.text-regular {
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
}

h3,
.text-bold {
	font-family: "Lato", serif;
	font-weight: 900;
	font-size: 1.8em;
	color: #000000;
	opacity: 0.5;
	font-style: normal;
}

h1,
h2,
h3{
	letter-spacing: 10px;
}

h4{
	letter-spacing: 5px;
}

h1,
.text-black {
	font-family: "Lato", serif;
	font-weight: 900;
	font-style: normal;
	color: #222;
	font-size: 2.3em;
}

.text-thin-italic {
	font-family: "Lato", serif;
	font-weight: 100;
	font-style: italic;
}

h2,
.text-light-italic {
	font-family: "Lato", serif;
	font-weight: 500;
	font-style: italic;
}

p,
.text-regular-italic {
	font-family: "Lato", serif;
	font-weight: 500;
	font-style: italic;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 1.3rem;
	line-height: 1.5;
}

p strong {
	font-weight: 700;
	text-transform: none;
}

.text-bold-italic {
	font-family: "Lato", serif;
	font-weight: 700;
	font-style: italic;
}

.text-black-italic {
	font-family: "Lato", serif;
	font-weight: 900;
	font-style: italic;
}
