$primary-color: #C2DBDB;
$secondary-color: #fff;
$text-color: #333;
$highlight-color: #b3b3b3;
$accent-color: #555;
$btn-bg-color: #fff;
$btn-text-color: #222;
$btn-border-color: #222;

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  color: $text-color;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

section{
  padding: 800px;
}

a {
  color: $btn-bg-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 3em;
  background-color: #fff;
  margin: 3em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 100%;
  height: auto;
}

.text-content {
  width: 80vw;
  padding: 0 2em;
  height: min-content;
}

.cta{
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: #fff;
  color: $btn-text-color;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid $btn-border-color;
  letter-spacing: 4px;
  border-radius: 500px;
  font-size: .8rem;
  display: block;
  width: 300px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.locations{
  div{
    flex-basis: 30%;
  }
  
  p{
    text-align: center;
  }
}


footer {
  text-align: center;
  padding: 0 0 20px 0;
  p {
    font-size: 0.875rem;
    color: $secondary-color;
  }
}


@media (max-width: 768px) {
    header {
      flex-direction: column;
      .profile-photo {
        margin-bottom: 20px;
      }
    }
  }